.incorrect {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="100%" x2="100%" y2="0" stroke="red" /></svg>');
}

.previewQuestion{
    height: auto;
    width: calc(90% - 70px);
    border: 1px solid #ADD3FF;
    margin: 1px;
    color: #ADD3FF;
    padding: 5px;
    text-align: left;
    overflow: hidden;
    min-height: 30px;
}

.progressBar{
    width: 33%;
    padding: 2px;
    margin: 1px;
    border: 1px solid #E7D6FF;
}
.progressBar.selected{
    border: 1px solid red;
}
.postResultBtn{
    display: none;
    border: 0;
    border-radius: 6px;
    margin-right: 10px;
    padding: 2px 10px;
    font-size: 12px;
    flex: 1;
    width: 80px;
}
.postResultBtn.success{
    border: 1px solid blue;
    color: blue;
}
.studyStatus{
    flex: 1;
    margin-right: 10px;
    color: #0045B5;
}
.studyStatus.final {
    font-weight: bold;
}