:root {
    --ratio: 1;
    --swiper-theme-color: #0F7928 !important; /*#A7C8BA*/
    --fontSize : 20px;
    --bgimage : url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f8c406' fill-opacity='0.3'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.toast {
    opacity: 1 !important;
}
.homeMainBg {
    width: 100%;
    height: 100vh;
    background-color: #f7c908;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ffffff' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}
#toast-container{
    font-family: 'GmarketSans', sans-serif;
    font-weight: 300;
}
.homePad {
    width: 400px;
    height: 560px;
    border: 10px solid #584A52;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    margin-top: -280px;
    box-shadow: 0 0.2em 0.5em rgba(0,0,0,0.25);
}
.padBg {
    height: calc(100% - 50px);
    background-color: white;
    background-image: url('../lecture/ci.png');
    background-size: 180px 180px;
    background-repeat: no-repeat;
    background-position: center;
    /* overflow: auto; */
    /* display: grid;
    justify-content: space-around; */
}
.myCourseListBox{
    height: calc(100% - 70px);
}
.myCourseBox{
    height: 100%;
}
.myCourseBox span.material-symbols-outlined{
    margin-top: 2px;
    font-size: 25px;
    height: calc(100% -70px);
}


.padBtn {
    text-align: center;
}
.padBtn.clicked {
    background: #363636;
}
.courseIcon {
    padding: 5px;
    width : 300px;
    height: 300px;
    border-radius: 6px;
    /* background :lightgray url("../lecture/E187611.png") center/96%; */
    cursor: pointer;
    /* border: 1px solid red; */
    /* display: grid;
    grid-template-columns: 30px;
    grid-template-rows: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(30px, 30px); */
    overflow: hidden;
    /* margin: 20px; */
}
.courseIcon div:nth-child(1) { 
    grid-column: 1 / span 2;
    grid-row: 1 / span 2; 
}
.courseIcon div:nth-child(2) { 
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;  
}
.courseIcon div:nth-child(3) { 
    grid-column: 1 / span 2;
    grid-row: 3 / span 2 
}
.stepIcon {
    border-radius: 8px;
    background: gray;
}
.stepStore {
    width: 100%;
    height: calc(100% - 54px);
    overflow: auto;
    text-align: center;
    padding: 20px 0px;
}
.stepStore::-webkit-scrollbar {
    width: 6px;
    border-radius: 100px;
} 
.stepStore::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 100px;
} 
.stepStore::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 100px;
}
.stepBook{ /*챕터 아이콘*/
    width: 75px;
    height: 75px;
    border-radius: 10px;
    margin: 6px;
    font-size: 14px;
    border: 1px solid gray;
    overflow: hidden;
    word-break:keep-all;
    background-repeat: no-repeat;
    object-fit: scale-down;
    background-size: cover;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.stepBook::after {
    content: "";
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.stepBook:hover{
    transform: scale(1.25, 1.25);
}
.stepBook:hover::after {
    opacity: 1;
}


.stepBook a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:black;
    background-color: rgba(255,255,255,0.5);
    display: inline-block;
    /* padding-top: 20px; */
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.studiedStepBook::before{
    position: absolute;
    left : 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: url('../lecture/done.png') no-repeat 0px 0px /100%;
}
.stepList{
    transition: 0.8s;
    height: calc(100% - 64.4px);
    overflow: auto;
}
.stepList::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
    padding: 2px;
    display: none;
}

.stepList::-webkit-scrollbar-thumb {
    background: #d7dcfa; /* 스크롤바의 색상 */
    border: 1px solid #584A52;
    border-radius: 125px;
}

.stepList::-webkit-scrollbar-track {
    background: rgba(45, 45, 245, 0.2);  /*스크롤바 뒷 배경 색상*/
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-clip: content-box; 
}
.stepBox{
    padding: 15px;
    border-bottom: 1px dotted lightgray;
    background: white;
}
.stepBox:hover{
    background: #B7C9D5;
}
.finalQuizBtn{
    background: #FFEAC6;
    color: #FF8E05;
    margin: 10px;
    border-radius: 10px;
    padding: 20px 80px;
    font-size: 20px;
    margin-top: 15px;
    line-height: 50%;
    box-shadow: 0 3px 1px #D8C7A9;
    border: 0px;
}
.finalQuizBtn:hover{
    box-shadow: none;
    margin-top: 20px;
    background: #FF8E05;
    color:white;
}
.studyBtn{
    position: absolute;
    top:-5px;
    right : 0px;
    background: #349bdf; /*#D9EEFC*/
    font-size : 14px;
    padding: 3px 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    box-shadow: 0 3px 1px #c2daea;
}
.studyBtn:hover{
    background: #349bdf;
    box-shadow: none;
    margin-top: 5px;
    color: white;
}
.progress{
    background: #FFC519 !important;
    width: 0px;
    height: 100% !important;
    border-radius: 0px;
    transition: 0.7s;
}


.popup-wrap{
    display:flex;
    font-family:'GmarketSans', sans-serif;
    font-size: 14px;
    background-color:rgba(0,0,0,.3);
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    padding:15px;
}
.popup{
    width:100%;
    height: 90%;
    max-width:800px;
    /* background-color:#ffffff; */
    border-radius:10px;
    overflow:hidden;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
}
.popup-head{
    width:100%;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#264db5;
}
.head-title {
    font-size: 30px;
    /* font-style: italic; */
    font-weight: 700;
    text-align: center;
    color: white;
}
.popup-body{
    width:100%;
    height: calc(100% - 100px);
    background: rgba(73,95,216,0.9);
    overflow: auto;
}
.popup-body::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
    padding: 2px;
}

.popup-body::-webkit-scrollbar-thumb {
    background: #ADD3FF; /* 스크롤바의 색상 */
    /* border: 1px solid #584A52; */
    border-radius: 125px;
}

.popup-body::-webkit-scrollbar-track {
    background: rgba(45, 45, 245, 0.2);  /*스크롤바 뒷 배경 색상*/
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-clip: content-box; 
}
.body-content{
    width:100%;
    padding:30px;
    text-align: center;
}
.body-titlebox{
    text-align:center;
    width:100%;
    height:40px;
    margin-bottom:10px;
}
.popup-foot{
    width:100%;
    height:50px;
    background-color:#264db5;
}
.pop-btn{
    display:inline-flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    color:#ffffff;
    cursor:pointer;
    border-right:1px solid #3b5fbf;
    font-size: 18px;
}

@media (max-width: 900px) {
    .homeMainBg {
        height: calc(var(--vh, 1vh) * 100);
    }
    .homePad {
        width: 100%;
        height: calc(var(--vh, 1vh) * 100);
        border-radius: 0;
        position: relative;
        left:0;
        top:0;
        transform: none;
        margin-top: 0;
        border: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }
    .courseIcon {
        width : 80vw;
        height: 80vw;
    }
    .padBg {
        display: flex;
        flex-direction: column;
    }
    .popup-wrap {
        padding: 0;
    }
    .popup {
        height: 100%;
        border-radius: 0;
    }
    .popup .body-content{
        padding: 20px;
    }
}