.homeMainBg {
    width: 100%;
    height: 100vh;
    background-color: #f7c908;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ffffff' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}
.homePad {
    width: 400px;
    height: 560px;
    border: 10px solid #584A52;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    margin-top: -280px;
    box-shadow: 0 0.2em 0.5em rgba(0,0,0,0.25);
}
.padBg {
    height: calc(100% - 50px);
    background: white;
    overflow: auto;
    /* display: grid;
    justify-content: space-around; */
}
.padBtn {
    text-align: center;
}
.padBtn.clicked {
    background: #363636;
}
.courseIcon {
    padding: 5px;
    width : 150px;
    height: 150px;
    border-radius: 10px;
    background: lightgray;
    cursor: pointer;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 30px;
    grid-template-rows: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(30px, 30px);
    overflow: hidden;
    /* margin: 20px; */
}
.courseIcon div:nth-child(1) { 
    grid-column: 1 / span 2;
    grid-row: 1 / span 2; 
}
.courseIcon div:nth-child(2) { 
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;  
}
.courseIcon div:nth-child(3) { 
    grid-column: 1 / span 2;
    grid-row: 3 / span 2 
}
.stepIcon {
    border-radius: 8px;
    background: gray;
}
.stepBook{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin: 6px;
    font-size: 16px;
    border: 1px solid gray;
    overflow: hidden;
    word-break:keep-all;
    background-repeat: no-repeat;
    object-fit: scale-down;
}
.stepBook a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:black;
    background-color: rgba(255,255,255,0.5);
    display: inline-block;
    padding-top: 20px;
    line-height: 14px;
}

